@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 4000px;
}

.first {
    display: flex;
    flex-direction: column;
    width: 1260px;
    height: 600px;
    background-image: url("images/poster.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.first nav ul {
    display: flex;
    justify-content: right;
    gap: 2em;
    list-style-type: none;
    padding-right: 3em;
    margin-top: -3em;
}

.first nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: Karla;
}

.first h1 {
    color: white;
    font-size: 60px;
    /* margin: 2.5em 5em; */
    padding-top: 4em;
    padding-left: 5em;
    font-family: Cormorant Infant;
}

.first p {
    font-family: Karla;
    color: white;
    font-size: 25px;
    margin: 4em 8em;
}

.second {
    display: flex;
    flex-direction: column;
    width: 1260px;
    height: 600px;
    background-color: #F8F0E9;

}

.second .small {
    font-family: Karla;
    font-size: 18px;
    margin: 5em 20em;

}

.second .large {
    font-family: Cormorant Infant;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding-left: 9em;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 3em;
    width: 1260px;
    height: 300px;
    background-color: rgb(223, 109, 109);
}

.third h2 {
    font-size: 30px;
    padding-top: 3em;
    font-family: Karla;
}

.third p {
    font-size: 19px;
    font-family: Karla;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Центрира текста хоризонтално */
    gap: 5em;
    width: 1260px;
    height: 1150px;
    background-color: #F8F0E9;
    color: black;
}

.fourth img {
    width: 600px;
    /* Задава фиксирана ширина на изображението */
    height: 400px;
    /* Задава фиксирана височина на изображението */
    object-fit: cover;
    /* Запазва пропорциите и запълва зададените размери */
    padding-top: 5em;
}

.fourth h1 {
    font-size: 50px;
    font-family: Cormorant Infant;
}

.fourth p {
    font-size: 20px;
    font-family: Karla;
}

.fourth .buttons {
    display: flex;
    flex-direction: column;
    gap: 5em;
    font-size: 20px;
    font-family: Karla;
}

.fourth a {
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3em;
    width: 180px;
    height: 40px;
    text-align: center;
    padding-top: 0.5em;
    color: black;

}

.fourth .read-more {
    margin-right: 17em;
}

.fourth .read-all {
    margin-left: 9em;
    padding-top: 0.5em;
    padding-left: 0.6em;
}

.fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 3em;
    width: 1260px;
    height: 620px;
    background-color: rgb(223, 109, 109);
}

.fifth h1 {
    font-size: 50px;
    padding-top: 4em;
    font-family: Cormorant Infant;
}

.fifth p {
    font-size: 20px;
    padding-top: 2em;
    font-family: Karla;
}

.fifth a {
    background-color: #FAD87A;
    color: black;
    border-radius: 2em;
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-size: 17px;
    padding-top: 0.8em;
    font-family: Karla;
   
}

.footer {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3em;
    width: 1260px;
    height: 300px;
    background-color: #352B2A;
    padding: 3em 7em;
    font-family: Karla;
}

.footer .rights {
    color: rgba(255, 255, 255, 0.4)
}

.first img {
    width: 90px;
    margin-left: 4em;
    padding-top: 2em;
}

.footer img {
    width: 70px;
}