@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

article{
    max-width: 1520px;
    margin: 0 auto;
}

.header img{
    max-width: 70px;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.header ul li{
    display: inline-block;
    padding-right: 1.5em;
    padding-top: 0.5em;
}
.header li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.plans {
    position: relative; 
    height: 700px; 
    overflow: hidden; 
  }
  
.plans:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background-color: #1DB954; 
    z-index: -1; 
  }
  
.plans:after {
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background-color: white;
    z-index: -1; 
  }
 
.plans h3 {   
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 3em;
    font-size: 32px;   
}

.plans .flex-section{
    display: flex;
    gap: 10em;
    justify-content: center;
}
.plans .image {
    position: absolute;
    left: 0;
    top: 52%;
    transform: translateY(-50%);
    z-index: 1;
    width: 47%; 
}

.plans .first-container, .plans .second-container{
    position: relative; 
    z-index: 1; 
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 400px;
    height: 450px;
    background-color: white;    
}

.plans .first-container h2, .plans .second-container h2{
    font-size: 25px;
    margin: 1em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
.plans .first-container ul, .plans .second-container ul{
    list-style-type: circle;
    margin-left: 3em;
    font-size: 16px;
    margin-bottom: 3em;
    
}
.plans .first-container ul li, .plans .second-container ul li{
    padding-bottom: 0.5em;
}

.plans .first-container ul{
    margin-bottom: 3em;
}
.plans .second-container ul{
    margin-bottom: 1em;
}

.plans .footer{
    background-color: black;
    color: white;   
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

 .footer .flex-footer{
   display: flex;
   gap: 1em;
   font-size: 16px;
   margin-top: 3.2em;
    width: 100%;
    height: 3em;   
}

.flex-footer p {
    position: relative;
    margin-top: 0.5em;
    padding: 0 1em;
    font-size: 17.5px;
}
.flex-footer p:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0.3em; 
    top: 0;
    height: 82%; 
    border-left: 1px solid white; 
}

.second-container .footer{
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 2.9em;
    margin-top: 3.8em;   
}
.second-container .footer p{
    font-size: 17.5px;

   padding-top: 0.5em;
} 

.plans .first-container a{
    background-color: #1DB954;
    color: white;   
    border-radius: 19px;
    text-decoration: none;
    font-size: 20px;
    padding: 0.3em 1.5em;
    margin-left: 3.5em;
    font-weight: bold;
}
.plans .second-container a{
    background-color: #1DB954;
    color: white;   
    border-radius: 19px;
    text-decoration: none;
    font-size: 20px;
    padding: 0.3em 1.5em;
    margin-left: 4em;
    font-weight: bold;

}

.main .first-container{
    display: flex;
    margin: 8em 7em;
}
.main .first-container .flex1{
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}
.main img{
    max-width: 400px;
    margin-left: 6em;
}
.main .first-container span{
    font-weight: bold;
    font-size: 18px;
}
.main .first-container .flex1 p{
    font-size: 15px;
}

.main .second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .second-container h2{
    font-size: 32px;
    margin-bottom: 0.5em;
}
.main .second-container h4{
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin-bottom: 2em;
  }
  
  table td,
  table th {
   
    padding: 8px;
    text-align: left;
  }
  
  
  table tr:nth-child(even) {
    background-color: #81D8A0; 
  }
  
  table tr:nth-child(odd) {
    background-color: #CCCBCB; 
  }

 
  .site-footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5em 0;
  }