header{
    border-bottom: 2px solid #ccc;
}

header .site-title a{
    color: #000;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
  }

  header .site-title,
  header nav{
    display: inline-block;
  }
  nav a {  
    color: rgba(71, 198, 71);
    text-decoration: none;
    padding: 0.5em 1em;
  }
  nav ul li {
    display: inline;
   padding: 0 0.5em;
  }
  nav h1 {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 50px;
  }
  nav ul {
   padding: 0 0 0 4em;
   margin: 0;
  }

  nav a:hover{
    background:#060;
    color: #fff;
  }
 